body {
	margin:0;
	padding:0;
	font:12px Verdana, Arial, Sans-serif;
	color:#1a1a1a;
	background:#ffffff;
}

div {
    padding: 5px;
}

h1 {
    font-size: 30px;
    color: #002288;
    margin: 15px 0 0 21px;
}

#BgTop {
    width: 800px;
    height: 100px;
    background: url(bg_top.png);
    border: solid 1px white;
    padding: 0;
}

#Title {
    float: left;
    padding: 0;
}

#Link {
    float: right;
    font-size: 9px;
    padding: 0;
    font-weight: bold;
}

.OpenApplet {
    float: left;
    width: 360px;
    height: 200px;
    border: dotted 1px #aaaaaa;
    margin: 10px;
    text-align: center;
}

.OpenButton {
	width: 139px;
	height: 32px;
	background: url(bg_btn.gif) no-repeat 0 0;
	border: none;
	font-size: 18px;
	font-weight: normal;
	color: #002288;
	cursor: pointer;
}
